@font-face {
    font-family: 'ArcadeClassic'; /*a name to be used later*/
    src: url('../assets/ARCADECLASSIC.TTF'); /*URL to font*/
}

html {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight:900;
  letter-spacing:1px;
  height:100%;
  width:100%;
}
body {
  margin:0;
  height:100%;
  position:relative;
  background-image: url("../assets/asteroids-background.jpg");
  background-size: cover;
}
.screen-container{
  height:100%;
}

#logo {
  height:120px;
  width:400px;
  background-size: cover;
  background-repeat:no-repeat;
  background-image: url("../assets/Asteroids-logo-screen.png")
}

#start-screen {
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.4);
  display:block;
}


#game-canvas {
  display:none;
}

#level-modal {
  position:absolute;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.4);
  display:none;
  color: #FFFFFF;
  font-size:96px;3
}
#level-display {
  display: table;
  margin: 15% auto;
}

#game-over-screen {
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.4);
  display:none;
}
#game-over-screen div {
  display:table;
  margin: 15% auto;
  color: #FFFFFF;
}
#game-over-screen>div{
}


#start-screen div {
  display:table;
  margin: auto;
  color: #FFFFFF;
}
#start-screen>div{
  padding: 15% 0;
}
div.lives {
  font-size:24px;
}
div.score {
  font-size:24px;
}
#start-screen div.title {
  font-size:96px;
}

#start-screen div.subtitle {
  font-size:36px;
}
#start-screen div.controls {
  font-size: 24px;
}
#start-screen div.controls div {
  display:inline-block;
  clear:both;
  float:left;
}

#game-info {
  position:absolute;
  display:none;
  margin-left:10px;
  bottom:5%;
  width:20%;
  color: #FFFFFF;
}

#game-info div{
    clear:both;
    display:inline-block;
    float:left;
}

.clearfix {
  clear:both;
  :after{
    content:""
  }
}
